<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./fragments/layout-main">
<meta charset="utf-8">

<div layout:fragment="layout-content">
    <div>
        <form action="#" th:action="@{/member/create}" method="post" th:object="${memberForm}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{userId}" placeholder="User ID">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{passwd}" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" th:field="*{email}" placeholder="email@example.com">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Zipcode</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{zipcode}" placeholder="ZipCode">
                </div>
            </div>
            <div class="p-1 float-right mt-3">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>
    </div>
</div>
</html>